@charset "utf-8";

body {
    background: url("./images/bg.jpg") repeat-x center top;
    color: #666;
}
header,
.nav-global,
.nav-breadcrumb,
.contents,
footer{
    margin: 0 auto;
    width: 860px;

}
header h1{
    margin: 0 0 26px;
    padding-top:18px;
    text-align: center;
}

.nav-global ul {
    display: flex;
    justify-content: space-between;
    list-style:none;
    margin: 0px 0px 20px;
    padding-left: 0px;
}
.nav-global ul li{
    width:215px;

}
.nav-global ul li a{
    display:block;
    height: 0px;
    overflow: hidden;
    padding-top: 60px;
}
.nav-global ul li a:hover{
    background-position: 0 -60px;
}

.nav-global ul li:nth-child(1) a{
    background-image: url(./images/nav1.png);
}
.nav-global ul li:nth-child(2) a{
    background-image: url(./images/nav2.png);
}
.nav-global ul li:nth-child(3) a{
    background-image: url(./images/nav3.png);
}
.nav-global ul li:nth-child(4) a{
    background-image: url(./images/nav4.png);
}

.contents{
    display: flex;
    justify-content: space-between;
}

main{
    background-color: #fff;
    padding: 20px;
    width: 550px;
}
main h1{
    background: url("./images/bg_h1_left.png") no-repeat right top,
                url("./images/bg_h1_bottom.gif") repeat-x left bottom;
    margin-bottom: 30px;
    padding: 0 40px 20px 10px;

}

.contents-sub{
    width: 240px;
}
.news ul {
    list-style-type: none;
    padding-left:0;
}
.news ul li{
    padding:20px 0px 20px 160px;
    border-bottom: 1px dotted #fb484e;
    text-indent: -160px;
}
footer{
    padding-top: 10px;
}


.about_area{
    margin-bottom: 30px;
    overflow: hidden;
}
.about_area:last-child{
    margin-bottom: 0;
}

table thead tr th{
    color: #ffdd63;
}
table tbody tr:nth-child(2n) td {
    background-color:#eef8fa;
}
.animals_area figure{
    width: 256px;
    margin: 0px 0px 15px 20px;
    float: left;
    overflow: hidden;
}
.animals_area figure:first-child{
    margin-left: 0;
}

input[type="text"]{
    width: 200px;
}
input[type="email"]{
    width: 300px;
}
.child{
    display: block !important;
    position: absolute;
    z-index: 9999;
}